* {
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: black;
}

.startScreen {
    text-align: center;
    padding: 50px;
    background-color: #faedcd;
    
    
}

.main {
    max-width: 800px;
}

.questionsBox {
    overflow: hidden;
    position: absolute;
    padding: 50px;
    background-color: #faedcd;
    width: 100%;
}

@media (min-width: 600px) {
    .main {
        margin: 30px auto;
    }
    .questionsBox {
        max-width: 800px;
        margin: auto;
    }
}

.blob1 {
    position: absolute;
    mix-blend-mode: color;
    left: 80%;
    bottom: 70%;
    transform: rotate(310deg);
}

.blob2 {
    position: absolute;
    mix-blend-mode: color-burn;
    transform: rotate(310deg);
    top: 85%;
    right: 80%;
}

.question {
    color: #283618;
    font-size: 18px;
    font-weight: 700;
}

.answers-box {
    color: #283618;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.answer {
    font-size: 16px;
    font-weight: 400;
    margin: 10px 5px;
}

.answerText {
    width: fit-content;
    border: 1px solid #283618;
    border-radius: 0.3rem;
    padding: 5px 10px;
}

@media (min-width: 600px) {
    .answers-box {
      flex-wrap: nowrap;
    }
  }

button {
    background-color: #606c38;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 18px;
    font-size: 18px;
    margin-top: 10px;
}

.score {
    color: #283618;
    font-size: 16px;
    font-weight: 700;
    background-color: #faedcd;
}

.buttons {
    text-align: center;

}




